<html>
  <head>
    <meta charset='utf-8' />
    <title>monaco-qb demo</title>
    <link
      rel='stylesheet'
      data-name='vs/editor/editor.main'
      href='https://cdnjs.cloudflare.com/ajax/libs/monaco-editor/{{monacoVersion}}/min/vs/editor/editor.main.min.css'
    />
    <script
      src='https://cdnjs.cloudflare.com/ajax/libs/monaco-editor/{{monacoVersion}}/min/vs/loader.min.js'
    ></script>
  </head>
  <body style='padding: 0; margin: 0;'>
    <div
      id='container'
      style='position: fixed; height:100%; width: 100%;'
    ></div>
    <script>
      const monacoRootUrl =
      'https://cdnjs.cloudflare.com/ajax/libs/monaco-editor/{{monacoVersion}}/min/vs';
    </script>
    <script src='/demo.js'></script>
  </body>
</html>